old.html
003 Inventarios - copia.docx
api_p.txt
used_car_price_prediction_1M_recortado.csv
Herramientas de Inteligencia Artificial orientadas a la contabilidad para mejorar la gestión contable de las empresas.docx
__pycache__
material\ expocision/